body {
  background-color: rgb(173, 173, 173);
  font-family: cursive; 
}

h1 {
  text-align: center;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.cabinet {
  display: flex;
  align-items: stretch;
  background-color: gray;
  flex-grow: 1;
}

.rules {
  background-color: DodgerBlue;
  color: white;
  /* width: 100px; */
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex: 1;
  /* align-self:center; */
  
}

.board {
  background-color: DodgerBlue;
  color: white;
  /* width: 100px; */
  margin: 10px;
  text-align: center;
  line-height: 500px;
  font-size: 30px;
  flex: 3;
}

.score {
  background-color: DodgerBlue;
  color: white;
  /* width: 100px; */
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex: 1;
}